<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Campground</title>
</head>

<body>
    <form action="/campgrounds/<%= editcampground._id %>?_method=PUT" method="post">
        <div>
            <div>
                <label for="title">Title</label>
                <input type="text" name='campground[title]' id="title" value="<%= editcampground.title %>">
            </div>
            <div>
                <label for="location">Location</label>
                <input type="text" name="campground[location]" id="location" value="<%= editcampground.location %>">
            </div>
        </div>
        <button>Update</button>
    </form>
</body>

</html>